.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90%;
  height: 70vh;
  transform: translate(-50%, -50%);

  min-width: 960px;
}

.PanelTitle{
  font-size:30px;
  color: aliceblue;
  row-gap: 25px;
}

.PagePanel{
  border-color: rgb(32, 35, 39);
  border-style: solid;
  text-align: center;
  display: flex;
  justify-self: start;
  flex-direction: row;
  min-height: 600px;
  max-height: 600px;
}

body{
  background-color: rgb(49, 66, 83);
}

@keyframes popupNotification {
  0%   {left:0px; top:13vh; opacity: 1;}
  40% {left:0px; top:0vh; opacity: 1;}
  100% {left:0px; top:0vh; opacity: 0;}
}

.AlertNotification{
    height: "50px";
    align-self: center;
    width: 50%;
    position: relative;
    opacity: 0;
    animation: popupNotification;
    animation-duration: 5s;
}