.PartTable{
    min-height: fit-content;
    table-layout:auto;
    text-wrap:wrap;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 2px solid rgb(43, 65, 78);;
    border-collapse: collapse;
    cursor: default;
    user-select: none;
}

  .TablePanel{
    max-height: 600px;
    width: 80%;
    overflow-y: auto;
    background-color: rgb(74, 99, 116);
    word-wrap: break-word;
    border: 3px solid rgb(43, 65, 78);;
    border-collapse: collapse;
  }
  
  .TableHeader{
    color:rgb(210, 237, 245);
    background-color: rgb(85, 118, 139);
    border-color: rgb(43, 65, 78);
    border-style: solid;
    border-bottom: 5px;
    word-wrap: break-word;
    z-index:1;
    position: sticky;
    top: 0;
  }

.TableHeaderColumn:hover{
  background-color: rgb(103, 144, 170);
}

.TableHeaderColumn:active{
  background-color: rgb(126, 179, 212);
}

.ComputerPart{
    color:aliceblue;
    font-size: 24px;
    font-size: 1.05vmax;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 1px;
    word-wrap: break-word;
    white-space: wrap;
    overflow-wrap: break-word;
    width:min-content+100px;
    max-width: 300px;
    border: 3px solid rgb(43, 65, 78);;
    border-collapse: collapse;
  }

.TableRow:hover{
    background-color: rgb(137, 181, 211);
}
