.ComponentList{
    background-color: rgb(85, 118, 139);
    max-height: 60vh;
    height: 50%;
    word-wrap: break-word;
    display:flexbox;
    flex-direction: column;

    justify-content: flex-end;
    overflow: auto;
  }
  
.PagePanel{
  display:flex;
}

.ProductDetails{
  align-self: center;
  position:relative;
  overflow-x: hidden;
  max-width: 50%;
  height: 1em;
  border: 1px;
  border-right: 10px;
  border-color: rgb(43, 65, 78);
  border-style: solid;
}

.ButtonLayout{
  display: flex;
  width:25%;
  column-gap: 20%;
  overflow-x: hidden;
  align-self: center;
}

.PartLabel{
  width:20%;
  align-self: center;
}
