.PartTable{
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    border: 2px solid rgb(43, 65, 78);;
    border-collapse: collapse;
  }
  
  .TablePanel{
    max-height: 500px;
    width: 75%;
    overflow-y: auto;
    background-color: rgb(74, 99, 116);
    word-wrap: break-word;
    border: 3px solid rgb(43, 65, 78);;
    border-collapse: collapse;
  }
  
  .TableHeader{
    color:rgb(139, 198, 236);
    background-color: rgb(85, 118, 139);
    border-color: rgb(43, 65, 78);
    border-style: solid;
    border-bottom: 5px;
    word-wrap: break-word;

    position: sticky;
    top: 0;
  }

  .ComputerPart{
    color:rgb(139, 198, 236);
    font-size: 24px;
    font-size: 1.05vmax;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 1px;
    word-wrap: break-word;
    border: 3px solid rgb(43, 65, 78);;
    border-collapse: collapse;
  }
